<!DOCTYPE html>
<html><head>
	<link rel= "stylesheet" href= "stylesheet.css" />
	<link rel= "stylesheet" href= "normalize.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head><body>

<header class= "top-header-wrap">
	<figure class= "logo"> Collection Calculator </figure>
</header>

<div class= "wrap" ng-app>
<section class= "main-wrap">
	
	
	<section class= "left-container">
	
	<section class= "instruction-container">
		<h2>How much could you save?</h2>
	</section>


	<form ng-controller= "UnitForm">
		<section class= "unit-facility-container common-container">
		<h3>How many units do you own <em>(per facility)</em>?</h3>
		
			<section class= "common-box" ng-repeat= "unit in units" ng-click=  "toggleActive(unit)" ng-class= "{active:unit.active}">
				{{unit.number}}
			</section>
			{{rentTotal()}}
		</section>
	</form>


	<form ng-controller= "RentForm">
		<section class= "average-cost-container common-container">
			<h3>Average rent per unit, per month?</h3>
			
			<section class= "common-box" ng-repeat= "rent in rents" ng-click=  "toggleActive(rent)" ng-class= "{active:rent.active}">
				{{rent.number}}
			</section>
			
		</section>
	</form>	

	
		<section class= "deliquency-rate-container common-container">
			<h3>What is your deliquency rate?</h3>
			<input type= "number" class= "common-input" /> <span class= "percentage-label">%</span>
		</section>

	
	<form ng-controller= "EmployeeForm">
		<section class= "outstanding-money-container common-container">
			<h3>How many employees chase outstanding money?</h3>
			<section class= "common-box" ng-repeat= "employee in employees" ng-click=  "toggleActive(service)" ng-class= "{active:service.active}">
				{{employee.number}}
			</section>
		</section>
	</form>
		
		
		
		
		
	<form ng-controller= "TimeSpendForm">
		<section class= "time-spend-container common-container">
			<h3>How much time do they spend chasing collections?</h3>
			<section>
				<select class= "spend-dropdown common-dropdown">
					<option> --Select-- </option>
					<option> Day </option>
					<option> Month </option>
				</select>
			</section>
			
			<section class= "common-box" ng-repeat= "timeSpend in timeSpends" ng-click=  "toggleActive(service)" ng-class= "{active:service.active}">
			{{timeSpend.number}}
			</section>
		</section>
	</form>
		
<!--
	HOURLY RATE FORM
-->
	<form ng-controller= "HourRateForm">
		<section class= "hourly-rate-container common-container">
			<h3>Hourly rate per employees?</h3>
			
			<section class= "common-box" ng-repeat= "hourRate in hourRates" ng-click=  "toggleActive(service)" ng-class= "{active:service.active}">
			{{hourRate.number}}
			</section>
		</section>
	</form>
	</section>

	
	
	
	
	
	<section class= "right-container">		
		<section class= "chasing-collection-container common-container">
			<section class= "deliquency-container">
				<section class= "deliquency-result-container">
					<h3>Chasing Collections is costing you....</h3>
				</section>
				<br />
				<section class= "deliquency-dropdown common-result"> 
				<span class= "common-label float-left">$ </span> 
					<input type= "text" class= "deliquency-result common-input" disabled />
					<select class= "common-dropdown float-right">
						<option> p/year </option>
						<option> p/month </option>
						<option> p/week </option>
					</select>
				</section>
			</section>

			<section class= "other-result-container">		
<!--			<section class= "deliquency-container">
					<section class= "deliquency-result-container">
						<h3>Outstanding Collection</h3>
					</section>
					<br />
					<section class= "deliquency-dropdown common-result"> 
					<span class= "common-label">$</span> 
						<input type= "text" class= "deliquency-result common-input" value= 10000 disabled />
						<select class= "common-dropdown float-right">
							<option> p/week </option>
							<option> p/month </option>
							<option> p/year </option>
						</select>
					</section>
				</section>
-->				
				<section class= "employee-time-container">
					<section class= "employee-time-result-container">
						<h3>Time to Collect<h3>
					</section>
					<br />
					<section class= "employee-time-dropdown common-result">
					<input type= "text" class= "employee-time-result common-input" value= 20000 disabled />
						<span class= "common-label">hours</span>
						<select class= "common-dropdown float-right">
							<option> p/year </option>
							<option> p/month </option>
							<option> p/week </option>
						</select>
					</section>
				</section>
			</section>
		</section>
		
		
		

	
	
		<section class= "plans-section">
			<section class= "plans-inner-container">
				<div class= "plan-margin">
					<header class= "plans-intro">
						<h1> Do you want to save 25% - 50%? <h1>
					</header>
					
					<h3 class= "save-label"> Save </h3>
					
					<section class= "plan-1-container">
						<div class= "dollar-label">$ </div> <div class= "plan-1">100</div>
					</section>
					
					<div class= "to-label">To</div>
					<section class= "plan-2-container">
						<div class= "dollar-label">$</div> <div class= "plan-2">100</div>
					</section>
					
					<div class= "per-month-label"> <strong>Per Month!!</strong> </div>
					
					<section>
						<div class= "click-here-button">Click here to find out how</div>
					</section>
			</section>

<!--
			<section class= "right-bottom-space">
				<div class= "plan-margin">
				<h1> Space Space Space Space Space Space Space Space Space Space Space Space Space Space Space Space Space Space Space Space Space Space Space Space Space Space Space Space Space </h1>
				</div>
			</section>
-->
			
		</section>
	</section>

</section>
</div>

<script src= "main.js"></script>

</body></html>