body {
	background-color: /*#F2F2F2;*/
}

h3, input[type="number"], select, option {
	margin-left: 30px;
}

h3 {
	color: #888888;
}

.common-dropdown,
.common-input {
	font-size: 25px;
	padding: 10px;
	text-align: center;
	border: 5px solid #C3C3C3;
	outline: 0;
	
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
		    border-radius: 5px;
			
	-webkit-transition: border .5s;
	   -moz-transition: border .5s;
	        transition: border .5s;
}

.common-dropdown {
	margin-left: 20px;
}

.common-input:focus,
.common-dropdown:focus {
	border: 5px solid #86C3D7;
	background-color: #F2F2F2;
}

.top-header-wrap {
	border-bottom: 1px solid #D0D1D5;
	padding: 50px 0 50px 0;
	background-color: #f2f2f2;
}

.top-header-wrap .logo {
	border: 0px solid black;
	width: 300px;
	font-size: 30px;
	padding: 10px;
	text-align: center;
	margin: 0px 0 0 135px;
	background-color: #86C3D7;
	color: #FFFFFF;
}

.main-wrap {
	border: 0px solid #D0D1D5;
	width: 70%;
	margin: 30px auto;
	text-align: center;
	background-color: #FFFFFF;
	
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
		    border-radius: 10px;
}

.left-container {
	border: 0px solid black;
	width: 80%;
	display: inline-block;
	text-align: left;
	padding: 30px 0 30px 0;
}

.right-container {
	border: 1px solid black;
	width: 30%;
	display: inline-block;
}

.left-container .instruction-container h2 {
	font-size: 40px;
	color: #4D4D4D;
}

.left-container .common-container {
	border-top: 1px solid #AAAAAB;
	padding: 20px 0 20px 0;
}

.left-container .common-container .common-box {
	border-top: 5px solid #6E8791;
	border-left: 5px solid #6E8791;
	border-right: 2px solid #D9D9D9;
	border-bottom: 2px solid #D9D9D9;
	display: inline-block;
	font-size: 25px;
	font-weight: bold;
	padding: 40px 18px 40px 18px;
	width: 70px;
	margin: 30px 30px 10px 30px;
	text-align: center;
	color: #626262;
	background-color: #F2F2F2;
	
	-webkit-transition: background-color .3s, border .3s;
	   -moz-transition: background-color .3s, border .3s;
	        transition: background-color .3s, border .3s;
	
	-webkit-border-radius: 10%;
	   -moz-border-radius: 10%;
	        border-radius: 10%;
}

.left-container .common-container .common-box:hover, .left-container .common-container .common-box:active {
	background-color: #86C3D7;
	color: #F2F2F2;
	border: 2px solid #86C3D7;
	cursor: pointer;
}

.left-container .chasing-collection-container {
	text-align: center;
}

.left-container .chasing-collection-container h3 {
	text-align: left;
}

.left-container .chasing-collection-container .chasing-collection-result {
	margin: 20px auto;
	width: 30%; height: 30%;
	border: 1px solid #c3c3c3;
	padding: 30px;
	font-size: 25px;
	display: inline-block;
	text-align: left;
}

.left-container .chasing-collection-container .chasing-collection-dropdown {
	border: 0px solid #c3c3c3;
	margin: 0px auto;
	width: 20%; height: 30%;
	display: inline-block;
}

.left-container .chasing-collection-container .other-result-container .deliquency-container,
.left-container .chasing-collection-container .other-result-container .employee-cost-container,
.left-container .chasing-collection-container .other-result-container .employee-time-container  {
	border: 0px solid black;
	text-align: left;
	margin-bottom: 20px;
}

.left-container .chasing-collection-container .other-result-container .deliquency-container .deliquency-result-container,
.left-container .chasing-collection-container .other-result-container .deliquency-container .deliquency-dropdown,
.left-container .chasing-collection-container .other-result-container .deliquency-container .deliquency-result-container h3, 
.left-container .chasing-collection-container .other-result-container .deliquency-container .deliquency-result-container input,

.left-container .chasing-collection-container .other-result-container .employee-cost-container .employee-cost-result-cotainer,
.left-container .chasing-collection-container .other-result-container .employee-cost-container .employee-cost-dropdown,
.left-container .chasing-collection-container .other-result-container .employee-cost-container .employee-cost-result-cotainer h3,
.left-container .chasing-collection-container .other-result-container .employee-cost-container .employee-cost-result-cotainer input,

.left-container .chasing-collection-container .other-result-container .employee-time-container .employee-time-result-container,
.left-container .chasing-collection-container .other-result-container .employee-time-container .employee-time-dropdown,
.left-container .chasing-collection-container .other-result-container .employee-time-container .employee-time-result-container h3,
.left-container .chasing-collection-container .other-result-container .employee-time-container .employee-time-result-container input {
	
	display: inline-block;
}